html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* Sem estilização para links */
td.text-center a {
    text-decoration: none !important;
}

/* --- Estilo do Loader Centralizado --- */
.loader {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); 
}

/* --- Toast --- */
.toast-success {
    background-color: #28a745 !important; 
}

    .toast-success .toast-message {
        color: #fff !important; 
        font-weight: bolder !important;
        font-size: 14px;
    }

.toast-error {
    background-color: #dc3545 !important;
}

    .toast-error .toast-message {
        color: #fff !important;
        font-weight: bolder !important;
        font-size: 14px;
    }

.toast-warning {
    background-color: #ffc107 !important; 
    color: #212529 !important; 
}

    .toast-warning .toast-message {
        color: #212529 !important;
    }

.toast-info {
    background-color: #17a2b8 !important; 
}

    .toast-info .toast-message {
        color: #fff !important;
    }


