<footer class="app-footer">
    <div class="row">
        <div class="col-6 text-start">
            <span class="fas fa-handshake me-2"></span> Afiliados 
        </div>
        <div class="col-6 text-end">
            <span> &copy; @DateTime.Now.Year BrainFlow</span>
        </div>
    </div>
</footer>